* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right
}

.clear {
  clear: both;
}

.main-container {
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color:
  #222;
  text-align: left;
  line-height: 1.5;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-width: 300px;
  background-image: linear-gradient(
  rgba(19, 19, 24, 0.81),
  rgba(37, 44, 71, 0.83)), url('https://jsparrow.uk/img/background.jpeg');
  min-height: 100vh;

}

hr{
  border: none;
  border-bottom: 1px solid #ccc;
}

main {
  margin: 0;
  background: #fff;
  width: 75vw;
  padding: 1em 2em;
  position: relative;
  left: 50%;
  overflow-x: hidden;
  transform: translateX(-50%);
  border-left: 1px solid rgb(194, 194, 194);
  border-right: 1px solid rgb(194, 194, 194);


}

.container{
  width: 100%;
  display: flex;
  margin-top: 1em;
  font-size: 1rem;
  justify-content: space-between;
}

.post_container a{
  text-decoration: none;
  color: darkcyan;
}

.post_title{
  padding: 1em 0 0.5em 0;
  font-size: 2rem;
}

header {
  display: inline-block;
  background-color: rgb(69, 77, 90);
  position: relative;
  width: 75vw;
  left: 50%;
  transform: translateX(-50%);
  padding: 1vw;
  border: 1px solid #4b4b4b4b;


}

.topbar-section{
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.control-nav {
  background-color: #222;
  width: 75vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  color: #222;

}

.control-nav a,
.control-nav button {
  border: none;
  text-decoration: none;
  padding: 10px;
  margin: 0 2px;
  font-size: 11px;
  background-color: #fff;
  color: rgb(69, 77, 90);
  display: inline-block;
  transition: background-color 0.15s, color 0.15s;
}

.control-nav a:hover {
  background-color: #011627;
  color: #fff;
}

.jamesPic {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin-left: 30px;

}

.navbar a, .btn {
  text-decoration: none;
  padding: 0.75em 2em;
  margin: 0 1em 0 0;
  background-color: #fff;
  color: rgb(69, 77, 90);
  display: inline-block;
  transition: background-color 0.15s, color 0.15s;
}

.btn{
  border: rgb(69, 77, 90) 2px solid;
}

.navbar a:hover, .btn:hover {
  background-color: #011627;
  color: #fff;
}

.navbar {
  font-weight: 500;
  width: 100%;
  text-align: left;
}


.title {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  margin-bottom: 1em;
}

.title h1 {
  display: inline;
  font-weight: 300;
  margin-right: 10px;
}

.title h3 {
  display: inline;
  font-weight: 100;
}

/*SEARCHBAR*/

.search {
  text-align: right;
  display: block;
  transition: all .2s;
}

.searchInput {
  height: 3em;
  background-color: #fff;

  border: 1px solid #80808080;
  outline: none;
  color: black;
  padding: 0 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.searchInput::placeholder {
  font-style: italic;
  font-family: 'Montserrat';
}

.searchButton {
  position: relative;
  background-color: rgb(69, 77, 90);
  border: solid 2px rgb(69, 77, 90);
  padding: 0px 13px;
  color: #fff;
  height: 3em;
  left: 10px;
  transition: color 0.3s, background-color 0.3s, border 0.1s;
}

.searchButton:hover {
  border-color: dimgray;
  background-color: dimgray;
  color: #fff;

}



.posts_container{
  max-width: 1000px;
}

.sidebar_container{
  width: 300px;
}

.sidebar{
  margin: 0 0 0 2em;
  padding: 0em 1em 2em 1em;
  min-height: 300px;
  margin-bottom: 2em;
  background-color: #fff;
  border-left: rgba(144, 144, 144, 0.5) 1px solid;
  clear: both;
}

.sidebar_post{
  text-decoration: none;
  transition: 0.2s;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  color: #222;
}
.sidebar_post_content{
  padding: 1em;
}

.sidebar-btn{
  width: 100%;
  text-align: center;
  border: none;
  color: #222;
  white-space: nowrap;
}

.sidebar_post:hover {
  background-color: rgb(69, 77, 90);
  color: #fff;
}

.sidebar_post_image{
  width: 100%;
  height: 4em;
  background-position: center;
  background-size: cover;
}

/*Pagination*/
.pagination{
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}
.pagination li{
  padding: 1em;
  font-size: 1.5rem;
  font-family: "Public Sans";
}
.pagination a{
  color: #222;
  text-decoration: none;
}
.page-item + .active{
  font-weight: 800;
}




a.readMore {
  margin: 15px 0;
  padding: 15px;
  background-color: rgb(69, 77, 90);
  text-decoration: none;

  color: white;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

a.readMore:hover {
  border: solid 5px rgb(69, 77, 90);
  color: rgb(69, 77, 90);
  text-decoration: none;

  background-color: white;

}


a.loadMore {
  background-color: rgb(69, 77, 90);
  text-decoration: none;
  border: solid 5px rgb(69, 77, 90);

  color: white;
  border-style: solid;
  margin: 15px 0;
  padding: 15px;
  width: 100%;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}


a.loadMore:hover {
  border: solid 5px rgb(69, 77, 90);
  color: rgb(69, 77, 90);
  text-decoration: none;

  background-color: white;

}




/*BANNER*/
.banner {
  padding: 30px 10px 0 10px;
  margin-top: 1em;
  font-size: 1.2rem;
  text-align: center;
}

.banner h3 {
  font-size: 24px;
}





/*POST PAGE STUFF*/

.post {
  width: 100%;
  max-width: 1000px;
  min-height: 200px;
}

.post_link{
  background-color: #fafafa;
  width: 100%;
  min-height: 200px;
  border: 1px solid #ccc;
}

.post_container img {
  max-width: 100%;
  height: auto;
}

.post h1 {
  margin: 0 0 10px 0;
}

.post_container {
  margin: 1em 2em;
  font-size: 1rem;
}
.post_container ul{
  list-style: inside;
}

.post-body p, .post-body code{
  padding: 0 0 1em 0;
}

.sidebar hr {
  margin: 10px 0;
}

.sidebar h3 {
  text-align: center;
  padding-bottom: 1em;
}

.section {
  margin-bottom: 2em;
  color: inherit;
  background-color: #fff;
  transition: color 0.2s, background-color 0.2s;
}

.section img {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.unlinkStyle {
  text-decoration: none;
  color: inherit;
}

/*CLass for timestamp on posts/projects*/
.timestamp {
  text-align: right;
  font-style: italic;
  margin: 0;
}


.section:hover {
  color: white;
  background-color: rgb(69, 77, 90);

}

.section:hover img {
  opacity: 0.7;


}

.post_thumbnail {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-image: linear-gradient(rgba(235, 145, 43, 0.799), rgba(232, 141, 131, 0.899));

}


/*FOOTER*/
footer{
  margin-top: 5em;
}
.footer-email{
  text-align: center;
padding: 2em 0;
}
.footer-buttons{
  display: flex;
  justify-content: center;
}

.social-button {
  display: flex;
  font-size: 2rem;
  opacity: 0.90;
  margin: 0 0.5em;
  border-radius: 100%;
  border: none;
  width: 2em;
  height: 2em;
  transition: background-color 0.4s, height 0.4s, width 0.4s, color 0.4s, opacity 0.4s;
  color:
  white;
  background-color:
  rgb(71, 113, 177);
  box-shadow: 0 3px 7px 0px
  black;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.social-button:focus{
  outline: 0;
}
.social-button:hover {
  background-color: lightgrey;
  color: black;
  box-shadow: inset 0px 1px 3px 0px black;
}

/* homepage */


.mail-banner {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  background-color: rgba(190, 255, 190, 0.34);
  font-family: "Open Sans";
  font-weight: 500;
  border: 1px solid #62b062;
  border-radius: 1em;
  }


  /*HOMEPAGE*/
  .homepage-content {
      display: flex;
      margin: 2em;
      font-size: 1.15rem;
      justify-content: space-between;
      font-family: "Public Sans";
      color: #151515;
  }
  .homepage-content div {
      width: 45%;
      max-width: 1000px;
      text-align: initial;
      margin-top: 2em;
  }
  .homepage-profile-pic {
      width: 7em;
      float: left;
      padding: 1em;
      border-radius: 100%;
  }
  .homepage-profile-pic-top {
      display: none;
  }
  .homepage-quick-links {
      display: grid;
      list-style: none;
      margin-top: 3em;
  }
  .homepage-quick-links a {
      text-decoration: none;
      color: rgb(71, 113, 177);
      transition: 0.2s;
      font-size: 1.25rem;
  }
  .homepage-quick-links li {
      padding: 0.5em 0;
  }
  .homepage-quick-links a:hover {
      color: rgba(0, 0, 0, 0.4);
  }
  .homepage-gallery {
      display: grid;
      grid-template-columns: 50% 50%;
  }
  .homepage-gallery img {
      width: 100%;
  }

  /* contact Page */

  .captchaStyle{
    width: 100%;
    display: flex;
    justify-content: center;
}
textarea {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    resize: vertical;
    font-family: "Open Sans";
}

.banner h1 {
    text-align: center;
}

form {
    text-align: center;
    width: 50%;
    margin: auto;

}

.submit-button {
    background-color: #4771b1;
    color: #fff;
    padding: 1em 2em;
    font-size: 1rem;
    border: 2px solid #4771b1;
    transition: 0.2s;
    margin: 3rem 0;
}

.submit-button:hover {
    background-color: #fff;
    color: #4771b1;
    border: 2px solid #4771b1;
}

.row {
    padding: 0;
}

.form-control{
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  font-family: Public Sans;
}


@media only screen and (max-width: 650px) {
    form {
        width: 90%;
        margin: auto;

    }

    .submit-button {
        padding: 1em 2em;
        font-size: initial;
    }
}


/* Media queries */

  @media only screen and (max-width: 985px) {
      .homepage-content{
          flex-direction: column;
          margin: 0em;
      }
      .homepage-profile-pic-top {
          display: initial;
          width: 10em;
          padding: 0 1em 1em 1em;
          border-radius: 100%;
      }
      .homepage-profile-pic{
          display: none;
      }
      .homepage-content div{
          width: 100%;
          text-align: center;
      }
      .homepage-quick-links li {
          padding: 1.5em 0em;
          text-align: center;
      }
  }



@media only screen and (max-width: 1185px) {
  header, main, .control-nav {
      width: 86vw;
  }

  .x2obj {
      width: 90%
  }


  .sidebar_container {
      display: none;
  }


  .post {
      width: 100%;

  }
  .navbar{
      width: 100%;
  }

}

@media only screen and (max-width: 985px) {

  

  .banner {
      font-size: 1.8vw;

  }

  .banner.h3 {
      font-size: 1.8vw;
  }


  .title {
      left: 70px;
  }

  .navbar {
      overflow: hidden;
      left: 0;
  }

  .navbar a{
      padding: 0.75em 1.5em;
  }

  .jamesPic {
      top: 25%;
      margin-left: 10px;
      height: 40px;
      width: 40px;
  }



}


@media only screen and (max-width: 650px) {
  body{
      margin: 0;
      font-size: inherit;
  }
  

  .navbar{
      text-align: center;
      display: flex;
      margin-bottom: 1em;
      justify-content: center;

  }
  .navbar a {
      font-size: 90%;
      width: 25%;
      padding: 0.75em 0;
      margin: 0 0.3em; 
  }
  .title { 
      position: initial;
      margin-bottom: 1em;
  }

  .title h1{
      display: inherit;
      margin-right: 0;
      font-size: 32px;
      text-align: center;
  }

  .title h3 {
      display: none;
  }
 
  .row input{
      font-size: 1rem;
  }
  .row textarea{
      font-size: 1rem;
  }
 
  .post_container {
      margin: 5px 15px;
  }

  main,
  header,
  .control-nav {
      width: 100%;
  }


  body {
      margin: 0;
  }

  .banner {
      font-size: 1rem;
  }



  .search {
      text-align: center;
  }

  .searchInput {
      width: 80%;
  }

  .jamesPic {
      display: inline-block;
      position: absolute;
      top: 35%;
      transform: translateY(-50%);

      border-radius: 100%;
      margin-left: 10px;

  }

  .social-button{
      width: 2em;
      height: 2em;
  }


  
}

@media only screen and (max-width: 488px) {
  footer {
      font-size: 70%;
  }

  .banner {
      font-size: 12px;
  }

  .banner h3 {
      font-size: 22px;
      padding-bottom: 20px
  }
  .title{
      margin-bottom: 2em;
  }
  .topbar-section{
      padding: 0 0.2em;
  }
  .post_container{
      font-size: 1rem;
  }
  

  .post_title{
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 300px) {
  .banner {
      width: 100%;
  }
  main{
      padding: 1em 0;
  }
}
